<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.ieening.entity.Product" id="product" />
    <bean class="org.ieening.dao.impl.ProductDaoMysqlImpl" id="productDaoMysqlImpl" />
    <bean class="org.ieening.dao.impl.ProductDaoOracleImpl" id="productDaoOracleImpl" />
    <bean class="org.ieening.service.impl.ProductServiceImpl" id="productService">
        <property name="productDao" ref="productDaoMysqlImpl"></property> <!-- 注释1-->
    </bean>
</beans>