<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加 POI</title>
</head>

<body>
    <form th:action="${actionPath}" th:method="${method}">
        名称：<input type="text" name="name" placeholder="请输入兴趣点名称" autocomplete="on"><br>
        描述：<input type="text" name="description" placeholder="请输入兴趣点描述" autocomplete="on"><br>
        经度：<input type="number" step="0.01" name="longitude" placeholder="请输入兴趣点经度" autocomplete="on"><br>
        纬度：<input type="number" step="0.01" name="latitude" placeholder="请输入兴趣点经度" autocomplete="on"><br>
        图片：<input type="file" accept="image/*" name="image" placeholder="请选择兴趣点图片" autocomplete="on"><br>
        <input type="submit" value="注册" />
    </form>
</body>

</html>