<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ! 如何获取 Bean XML 配置 -->
    <bean class="com.ieening.NormalBean" id="testGetBeanNormalBeanId"
        name="testGetBeanNormalBeanName" />
    <alias name="testGetBeanNormalBeanName" alias="testGetBeanNormalBeanNameAlias" />
    <!-- ! 使用 -->
</beans>