<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ! 1、如何获取 Bean XML 配置 -->
    <bean class="com.ieening.NormalBean" id="testGetBeanNormalBeanId"
        name="testGetBeanNormalBeanName" />
    <alias name="testGetBeanNormalBeanName" alias="testGetBeanNormalBeanNameAlias" />

    <!-- ! 2、通过依赖注⼊，在 spring 创建对象的同时，为其属性赋值。依赖注⼊的⽅式有三种：
        Set注⼊
        构造函数注⼊
        ⾃动注⼊ 
    -->
    <!-- ? 2.1 创建对象时，Spring ⼯⼚会通过 Set ⽅法为对象的属性赋值 -->
    <bean class="com.ieening.CustomBean" id="testAttributeInjectCustomBeanId">
        <property name="attributeInteger" value="1" />
    </bean>
    <bean class="com.ieening.NormalBean" id="testAttributeInjectWithSetterNormalBeanId">
        <!-- * bean attributes -->
        <!-- * 2.1.1 基本数据类型 + 字符串类型 + 时间类型（注意格式） -->
        <property name="attributeInteger" value="1" />
        <property name="attributeString" value="string attribute" />
        <property name="attributeDate" value="2024/01/16 08:25:20" />
        <!-- * 2.1.2 容器类型：Array、Set、List、Map -->
        <property name="attributeStringArray">
            <array>
                <value>first</value>
                <value>second</value>
                <value>third</value>
            </array>
        </property>
        <property name="attributeStringSet">
            <set>
                <value>first</value>
                <value>second</value>
                <value>third</value>
            </set>
        </property>
        <property name="attributeStringList">
            <list>
                <value>first</value>
                <value>second</value>
                <value>third</value>
            </list>
        </property>
        <property name="attributeMap">
            <map>
                <entry key="first" value="One" />
                <entry key="second" value="Two" />
                <entry key="third" value="Three" />
            </map>
        </property>
        <!-- * 2.1.3 Properties 类型 -->
        <property name="attributeProperties">
            <props>
                <prop key="first">One</prop>
                <prop key="second">Two</prop>
                <prop key="third">three</prop>
            </props>
        </property>
        <!-- * 2.1.4 自定义类型 -->
        <property name="customBean" ref="testAttributeInjectCustomBeanId"></property>
    </bean>
    <!-- ? 2.2 创建对象时，Spring ⼯⼚会通过构造⽅法为对象的属性赋值，可以通过构造方法注入属性值 -->
    <bean class="com.ieening.NormalBean" id="testAttributeInjectWithConstructorNormalBeanId">
        <!-- * bean attributes -->
        <!-- * 2.2.1 基本数据类型 + 字符串类型 + 时间类型（注意格式） -->
        <constructor-arg name="attributeInteger" value="1" />
        <constructor-arg name="attributeString" value="string attribute" />
        <constructor-arg name="attributeDate" value="2024/01/16 08:25:20" />
        <!-- * 2.2.2 容器类型：Array、Set、List、Map -->
        <constructor-arg name="attributeStringArray">
            <array>
                <value>first</value>
                <value>second</value>
                <value>third</value>
            </array>
        </constructor-arg>
        <constructor-arg name="attributeStringSet">
            <set>
                <value>first</value>
                <value>second</value>
                <value>third</value>
            </set>
        </constructor-arg>
        <constructor-arg name="attributeStringList">
            <list>
                <value>first</value>
                <value>second</value>
                <value>third</value>
            </list>
        </constructor-arg>
        <constructor-arg name="attributeMap">
            <map>
                <entry key="first" value="One" />
                <entry key="second" value="Two" />
                <entry key="third" value="Three" />
            </map>
        </constructor-arg>
        <!-- * 2.2.3 Properties 类型 -->
        <constructor-arg name="attributeProperties">
            <props>
                <prop key="first">One</prop>
                <prop key="second">Two</prop>
                <prop key="third">three</prop>
            </props>
        </constructor-arg>
        <!-- * 2.2.4 自定义类型 -->
        <constructor-arg name="customBean" ref="testAttributeInjectCustomBeanId" />
    </bean>
    <!-- ? 2.3 不⽤在配置中指定为哪个属性赋值，及赋什么值，由 spring ⾃动根据某个“原则”，在⼯⼚中查找⼀个 bean，为属性注⼊属性值 -->
    <bean class="com.ieening.NormalBean" id="testAttributeInjectWithAutoWireNormalBeanId"
        autowire="byType">
        <!-- * 2.3.1 根据类型自动注入 CustomBean -->
        <property name="attributeProperties">
            <props>
                <prop key="first">One</prop>
                <prop key="second">Two</prop>
                <prop key="third">three</prop>
            </props>
        </property>
    </bean>
</beans>